USE [master]
GO
/****** Object:  Database [CuaHangTienLoi]    Script Date: 11/10/2024 2:29:18 AM ******/
CREATE DATABASE [CuaHangTienLoi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuaHangTienLoi', FILENAME = N'C:\Users\ADMIN\CuaHangTienLoi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuaHangTienLoi_log', FILENAME = N'C:\Users\ADMIN\CuaHangTienLoi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHangTienLoi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHangTienLoi]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](20) NOT NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [nvarchar](20) NOT NULL,
	[AnhDaiDien] [varbinary](max) NULL,
	[TenTK] [nvarchar](50) NOT NULL,
	[MKhau] [nvarchar](50) NOT NULL,
	[NgTuyenDung] [date] NOT NULL,
	[MaNguoiQuanLy] [nvarchar](10) NULL,
	[TinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SDT] [nvarchar](20) NOT NULL,
	[TenKhachHang] [nvarchar](20) NOT NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[NgayXuat] [date] NOT NULL,
	[TongTien] [int] NULL,
	[TienKhachDua] [int] NULL,
	[TienThoi] [int] NULL,
	[TinhTrang] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUATHOADON]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUATHOADON](
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICHDIEM]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICHDIEM](
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[SDTKhachHang] [nvarchar](20) NOT NULL,
	[DiemTich] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[TimKiemHoaDon]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TimKiemHoaDon]
(
    @keyword NVARCHAR(50)
)
RETURNS TABLE
AS
RETURN
(
    SELECT hd.MaHoaDon, hd.NgayXuat, hd.TongTien, hd.TienKhachDua, hd.TienThoi, hd.TinhTrang

    FROM HOADON hd
    LEFT JOIN XUATHOADON xh ON hd.MaHoaDon = xh.MaHoaDon
    LEFT JOIN NHANVIEN nv ON xh.MaNV = nv.MaNV
    LEFT JOIN TICHDIEM td ON hd.MaHoaDon = td.MaHoaDon
    LEFT JOIN KHACHHANG kh ON td.SDTKhachHang = kh.SDT
    WHERE 
        hd.MaHoaDon LIKE '%' + @keyword + '%' OR
        kh.SDT LIKE '%' + @keyword + '%' OR
        nv.MaNV LIKE '%' + @keyword + '%' OR
        hd.TinhTrang LIKE '%' + @keyword + '%' OR
        CONVERT(NVARCHAR, hd.NgayXuat, 103) LIKE '%' + @keyword + '%'
);
GO
/****** Object:  Table [dbo].[APDUNG]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APDUNG](
	[MaSPham] [nvarchar](10) NOT NULL,
	[MaKhuyenMai] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[MaSPham] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAPHANG]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAPHANG](
	[MaPhieuNhap] [nvarchar](10) NOT NULL,
	[MaSPham] [nvarchar](10) NOT NULL,
	[NgayNhap] [date] NULL,
	[SoLuongNhap] [int] NULL,
	[GiaNhap] [int] NULL,
	[ThanhTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaSPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MaKhuyenMai] [nvarchar](10) NOT NULL,
	[TenKhuyenMai] [nvarchar](50) NULL,
	[MucKhuyenMai] [float] NULL,
	[NgBatDau] [date] NOT NULL,
	[NgHetHan] [date] NOT NULL,
	[TinhTrang] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MaPhieuNhap] [nvarchar](10) NOT NULL,
	[TinhTrang] [nvarchar](20) NOT NULL,
	[TongTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSPham] [nvarchar](10) NOT NULL,
	[TenSPham] [nvarchar](50) NOT NULL,
	[HinhAnh] [varbinary](max) NOT NULL,
	[NhaSanXuat] [nvarchar](50) NOT NULL,
	[GiaBan] [int] NULL,
	[TonKho] [int] NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[NhomSPham] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAOPHIEUNHAPHANG]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAOPHIEUNHAPHANG](
	[MaPhieuNhap] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[NgKhoiTao] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APDUNG]  WITH CHECK ADD FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KHUYENMAI] ([MaKhuyenMai])
GO
ALTER TABLE [dbo].[APDUNG]  WITH CHECK ADD FOREIGN KEY([MaSPham])
REFERENCES [dbo].[SANPHAM] ([MaSPham])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MaSPham])
REFERENCES [dbo].[SANPHAM] ([MaSPham])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MaSPham])
REFERENCES [dbo].[SANPHAM] ([MaSPham])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaNguoiQuanLy])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TAOPHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[TAOPHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TICHDIEM]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[TICHDIEM]  WITH CHECK ADD FOREIGN KEY([SDTKhachHang])
REFERENCES [dbo].[KHACHHANG] ([SDT])
GO
ALTER TABLE [dbo].[XUATHOADON]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[XUATHOADON]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
/****** Object:  StoredProcedure [dbo].[sp_LayChiTietHoaDon]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LayChiTietHoaDon]
    @MaHoaDon NVARCHAR(10)
AS
BEGIN
    SELECT 	
        SP.TenSPham AS 'TenSanPham',
        CH.SoLuong,
        CH.ThanhTien,
        KH.SDT AS 'SDTKhachHang',
        NV.HoTen AS 'TenNhanVien', -- Lấy tên nhân viên thay vì mã nhân viên
        HD.NgayXuat,
        HD.TinhTrang
    FROM 
        HOADON HD
    JOIN 
        CHITIETHOADON CH  ON CH.MaHoaDon = HD.MaHoaDon
    LEFT JOIN 
        KHACHHANG KH ON HD.MaHoaDon = KH.SDT
    LEFT JOIN 
        XUATHOADON XH ON HD.MaHoaDon = XH.MaHoaDon
    LEFT JOIN 
        NHANVIEN NV ON XH.MaNV = NV.MaNV
	LEFT JOIN
		SANPHAM SP ON CH.MaSPham = SP.MaSPham
    WHERE 
        CH.MaHoaDon = @MaHoaDon;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNhanVien]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemNhanVien]
    @MaNV NVARCHAR(10),
    @HoTen NVARCHAR(20),
    @GioiTinh NVARCHAR(5),
    @NgaySinh DATE,
    @SDT NVARCHAR(20),
    @AnhDaiDien VARBINARY(MAX) = NULL,
    @TenTK NVARCHAR(50),
    @MKhau NVARCHAR(50),
    @NgTuyenDung DATE,
    @MaNguoiQuanLy NVARCHAR(10) = NULL
AS
BEGIN
    INSERT INTO NHANVIEN (MaNV, HoTen, GioiTinh, NgaySinh, SDT, AnhDaiDien, TenTK, MKhau, NgTuyenDung, MaNguoiQuanLy)
    VALUES (@MaNV, @HoTen, @GioiTinh, @NgaySinh, @SDT, @AnhDaiDien, @TenTK, @MKhau, @NgTuyenDung, @MaNguoiQuanLy)
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployee]    Script Date: 11/10/2024 2:29:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEmployee]
    @MaNV NVARCHAR(10),
    @HoTen NVARCHAR(20),
    @GioiTinh NVARCHAR(5),
    @NgaySinh DATE,
    @SDT NVARCHAR(20),
    @TenTK NVARCHAR(50),
    @MKhau NVARCHAR(50),
    @NgTuyenDung DATE,
    @TinhTrang NVARCHAR(50)
AS
BEGIN
    UPDATE NHANVIEN
    SET HoTen = @HoTen,
        GioiTinh = @GioiTinh,
        NgaySinh = @NgaySinh,
        SDT = @SDT,
        TenTK = @TenTK,
        MKhau = @MKhau,
        NgTuyenDung = @NgTuyenDung,
        TinhTrang = @TinhTrang
    WHERE MaNV = @MaNV;
END;
GO
USE [master]
GO
